body {
    background-image: url("../images/background.png");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    position: relative;
}

* {
    box-sizing: border-box;
  }

.container {
    width: 100%;
    max-width: 960px;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: auto;
    overflow: auto;
    clear: both;
}

.wrapper {
    margin-top: 90px;
    margin-bottom: 30px;
    min-height: calc(100vh - 70px);
}

.tophead {
    position: fixed;
    width: 100%;
    z-index: 99;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
}

#logo {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    font-size: 36px;
    font-weight: 700;
    margin-left: 124px;
    text-decoration: none;
}

.nav {
    float: right;
    margin-top: 25px;
    margin-right: 124px;
}

nav a {
    display: inline-block;
    margin-right: 16px;
    padding: 10px;
    text-decoration: none;
    border-left: 1px solid #efefef;
    line-height: 16px;
}

nav a:first-child {
    border-left: none;
}

h1 {
    color: #4aaaa5;
}

.headshot {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}

.footer {
    clear: both;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-top: 8px solid #4aaaa5;
}

/* Portfolio Page */

.project {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 20px 20px 0px;
    overflow: auto;
  }
  
  .project img {
    width: 100%;
    border: 0 none;
  }
  
  h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }

  /* Contact Page */

  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
    font-size: 20px;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }